<div class="m-2">
  <b>Box Generator</b>
  <button class="ml-3 btn btn-sm btn-primary" (click)="onAddNewBox()">Add New Box</button>
  &nbsp;
  <input type="checkbox" [value]="true" [checked]="isKeyboardEnabled" (change)="onKeyboardControlChange($event)" /> Enable Keyboard
  Control
</div>
<br>
<div class="container">

  <app-box *ngFor="let box of boxes; index as i; trackBy: trackByFn" 
    [id]="box.id" [active]="activeBox===box.id"
    [enableKeyboardEvents]=" activeBox===box.id && isKeyboardEnabled" 
    (click)="onBoxSelect(box)" (delete)="onDelete(i)">
  </app-box>
</div>